{% extends 'security/security_base.html.twig' %}

{% block title %}Přihlášení{% endblock %}
{% block header %}Přihlášení{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Aktuálně jste přihlášen {{ app.user.username }}, <a href="{{ path('app_logout') }}">Odhlásit se</a>
        </div>
    {% endif %}

    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" required>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

    <button class="btn btn--secondary" type="submit">
        Login
    </button>
</form>
{% endblock %}
