<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('libs/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/main.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Gelasio|Open+Sans:300,400,600,700,800&display=swap&subset=latin-ext" rel="stylesheet">
    {% block stylesheets %}
    {% endblock %}
</head>
<body>

<div class="main-header main-header--big">
    <div class="container">
        <h1>{% block header %}{% endblock %}</h1>
    </div>
</div>

<div class="container">
    <div class="main-content">
        <div class="row">
            <div class="col-12">
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>
</div>


<script src="{{ asset('libs/bootstrap/js/bootstrap.min.js') }}" async></script>
{% block javascripts %}{% endblock %}
</body>
</html>
