{% extends 'base.html.twig' %}

{% block title %}{{ 'Typ dat' | trans }} - {{ metric.name }}{% endblock %}
{% block header %}{{ 'Typ dat' | trans }} - {{ metric.name }}{% endblock %}

{% block body %}
    <div class="container">
        {{ form_start(dataTypeForm) }}
        <div class="form-group">
            <label for="exampleInputEmail1">{{ form_label(dataTypeForm.name) }}</label>
            {{ form_widget(dataTypeForm.name, {'attr': {'class': 'form-control'}}) }}
            <small class="form-text text-muted">{{ form_help(dataTypeForm.name) }}</small>
            <small class="form-text text-muted">{{ form_errors(dataTypeForm.name) }}</small>
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">{{ form_label(dataTypeForm.type) }}</label>
            {{ form_widget(dataTypeForm.type, {'attr': {'class': 'form-control'}}) }}
            <small class="form-text text-muted">{{ form_help(dataTypeForm.type) }}</small>
            <small class="form-text text-muted">{{ form_errors(dataTypeForm.type) }}</small>
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">{{ form_label(dataTypeForm.description) }}</label>
            {{ form_widget(dataTypeForm.description, {'attr': {'class': 'form-control'}}) }}
            <small class="form-text text-muted">{{ form_help(dataTypeForm.description) }}</small>
            <small class="form-text text-muted">{{ form_errors(dataTypeForm.description) }}</small>
        </div>


        <button class="btn btn--secondary btn--right">Uložit</button>
        {{ form_end(dataTypeForm) }}
    </div>
{% endblock %}
