.chart {
    width: 200px;
    height: 200px;
    -webkit-box-shadow: 4px 4px 15px -3px rgba(0,0,0,0.39);
    -moz-box-shadow: 4px 4px 15px -3px rgba(0,0,0,0.39);
    box-shadow: 4px 4px 15px -3px rgba(0,0,0,0.39);
    border-radius: 4px;
    margin: 20px;
    float: left;
    position: relative;
}