{% extends 'base.html.twig' %}
{% block head_scripts %}
    <script src="{{ asset('libs/amcharts4/core.js') }}"></script>
    <script src="{{ asset('libs/amcharts4/charts.js') }}"></script>
    <script src="{{ asset('libs/amcharts4/themes/animated.js') }}"></script>

    {% if metric.graph.chartType == "xy_bar" or  metric.graph.chartType == "xy_line" %}
        <script>
            am4core.ready(function () {
                am4core.useTheme(am4themes_animated);
                var chart = am4core.create("chart", am4charts.XYChart);

                let chartBlock = document.querySelector('#chart');
                const chartTypes = JSON.parse(chartBlock.dataset.chartTypes);

                chart.data = JSON.parse(chartBlock.dataset.chartValues);

                chart.scrollbarX = new am4core.Scrollbar();

                var categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
                categoryAxis.dataFields.category = "datetime";
                categoryAxis.renderer.grid.template.location = 0;

                var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
                valueAxis.renderer.inside = true;
                valueAxis.renderer.labels.template.disabled = true;
                valueAxis.min = 0;

                function createSeries(field, name) {
                    {% if metric.graph.chartType == "xy_bar" %}
                        var series = chart.series.push(new am4charts.ColumnSeries());
                    {% elseif metric.graph.chartType == "xy_line" %}
                        var series = chart.series.push(new am4charts.LineSeries());
                    {% endif %}

                    series.name = name;
                    series.dataFields.valueY = field;
                    series.dataFields.dateX = name;
                    series.dataFields.categoryX = "datetime";
                    series.sequencedInterpolation = true;
                    {% if metric.graph.chartType == "xy_bar" %}
                        series.fillOpacity = 1;
                    {% elseif metric.graph.chartType == "xy_line" %}
                        series.fillOpacity = 0.5;
                    {% endif %}
                    series.stacked = {{ metric.graph.stacked ? 'true' : 'false' }};
                    {% if metric.graph.chartType == "xy_bar" %}
                        series.columns.template.width = am4core.percent(60);
                        series.columns.template.tooltipText = "[bold]{name}[/]\n[font-size:14px]{categoryX} - [bold]{valueY}[/]";

                        var labelBullet = series.bullets.push(new am4charts.LabelBullet());

                        labelBullet.label.text = "{valueY}";
                        labelBullet.locationY = 0.5;
                        labelBullet.label.hideOversized = true;
                    {% endif %}

                    return series;
                }

                chartTypes.forEach(type => createSeries(type, type));
                chart.legend = new am4charts.Legend();
            });

        </script>
    {% elseif metric.graph.chartType == "pie" %}
        {% for dataCollection in metric.dataCollections %}
            <script>
                am4core.ready(function () {
                    am4core.useTheme(am4themes_animated);
                    var chart = am4core.create("chart_{{ dataCollection.datetime.getTimestamp() }}", am4charts.PieChart);
                    let chartBlock = document.querySelector('#chart_{{ dataCollection.datetime.getTimestamp() }}');
                    chart.data = JSON.parse(chartBlock.dataset.chartValues);

                    var pieSeries = chart.series.push(new am4charts.PieSeries());
                    pieSeries.dataFields.value = "value";
                    pieSeries.dataFields.category = "name";
                    pieSeries.slices.template.stroke = am4core.color("#fff");
                    pieSeries.slices.template.strokeWidth = 2;
                    pieSeries.slices.template.strokeOpacity = 1;

                    pieSeries.hiddenState.properties.opacity = 1;
                    pieSeries.hiddenState.properties.endAngle = -90;
                    pieSeries.hiddenState.properties.startAngle = -90;

                });
            </script>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block title %}{{ metric.name }}{% endblock %}
{% block header %}{{ metric.name }}{% endblock %}

{% block body %}
    {% if metric.dataTypes is not empty %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">{{ 'Název'|trans }}</th>
                <th scope="col">{{ 'Popis'|trans }}</th>
                <th scope="col">{{ 'Typ dat'|trans }}</th>
                <th scope="col">{{ 'Možnosti'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for dataType in metric.dataTypes %}
                <tr>
                    <th scope="row">{{ dataType.name }}</th>
                    <td>{{ dataType.description }}</td>
                    <td>{{ dataType.type }}</td>
                    <td>
                        <a href="{{ path('metric_data_type_edit', {metricId: metric.id, dataTypeId: dataType.id}) }}"><i
                                    class="fa fa-edit"></i></a>
                        |
                        <a href="{{ path('metric_data_type_remove', {metricId: metric.id, dataTypeId: dataType.id}) }}"><i
                                    class="fa fa-remove"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if metric.graph.chartType != "pie" %}
        <a href="{{ path('metric_data_type', {metricId: metric.id}) }}" class="btn btn--primary float-right">
            {{ 'Přidat typ dat' | trans }}
        </a>
    {% endif %}

    {% if chartValues is not empty %}

        {% if metric.graph.chartType == "pie" %}
            {% for dataCollection in metric.dataCollections %}
                {% if chartValues[dataCollection.datetime.getTimestamp()] is defined %}
                    <h4>{{ dataCollection.datetime | date('d. m. Y H:i:s') }}</h4>
                    <div id="chart_{{ dataCollection.datetime.getTimestamp() }}" class="height-400"
                         data-chart-values="{{ chartValues[dataCollection.datetime.getTimestamp()]  | json_encode }}"></div>
                {% endif %}
            {% endfor %}
        {% else %}
            <div id="chart" class="height-600" data-chart-values="{{ chartValues | json_encode }}"
                 data-chart-types="{{ chartTypes | json_encode }}"></div>
        {% endif %}

        <div class="divider divider--100"></div>
        <h3>{{ 'Textová vizualizace' | trans }}</h3>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">{{ 'Datum sběru'|trans }}</th>
                <th scope="col">{{ 'Nadpis'|trans }}</th>
                <th scope="col">{{ 'Hodnota'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for dataCollection in metric.dataCollections %}
                {% for data in dataCollection.data %}
                    <tr>
                        <th scope="row">{{ dataCollection.datetime|date('d. m. Y H:i:s') }}</th>
                        <td>{{ data.name }}</td>
                        <td>{{ data.value }}</td>
                    </tr>
                {% endfor %}
                <tr class="table-dark">
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
