{% extends 'Admin/adminBase.html.twig' %}

{% block title %}Metriky{% endblock %}
{% block header %}Metriky{% endblock %}

{% block body %}
    <a href="{{ path('admin_new_metric') }}" class="btn btn--primary">
        Nová metrika
    </a>

    {% if metrics is not empty %}
        <h3>{{ "Vytvořené metriky"|trans }}</h3>
        <table class="table table-hover table-striped">
            <thead>
            <tr>
                <th scope="col">{{ 'Název'|trans }}</th>
                <th scope="col">{{ 'Popis'|trans }}</th>
                <th scope="col">{{ 'Typ grafu'|trans }}</th>
                <th scope="col">{{ 'Možnosti'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for metric in metrics %}
                <tr>
                    <th scope="row">{{ metric.name }}</th>
                    <td>{{ metric.description }}</td>
                    <td>{{ metric.graph.name }}</td>
                    <td>
                        <a href="{{ path('admin_edit_metric', {metricId: metric.id}) }}"><i class="fa fa-edit"></i></a>
                        |
                        <a href="#"><i class="fa fa-remove"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
