{% extends 'Admin/adminBase.html.twig' %}

{% block title %}Nová metrika{% endblock %}
{% block header %}Nová metrika{% endblock %}

{% block body %}
    <div class="container">
        {{ form_start(newMetricForm) }}
        <div class="form-group">
            <label for="exampleInputEmail1">{{ form_label(newMetricForm.name) }}</label>
            {{ form_widget(newMetricForm.name, {'attr': {'class': 'form-control'}}) }}
            <small class="form-text text-muted">{{ form_help(newMetricForm.name) }}</small>
            <small class="form-text text-muted">{{ form_errors(newMetricForm.name) }}</small>
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">{{ form_label(newMetricForm.description) }}</label>
            {{ form_widget(newMetricForm.description, {'attr': {'class': 'form-control'}}) }}
            <small class="form-text text-muted">{{ form_help(newMetricForm.description) }}</small>
            <small class="form-text text-muted">{{ form_errors(newMetricForm.description) }}</small>
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">{{ form_label(newMetricForm.graph) }}</label>
            {{ form_widget(newMetricForm.graph, {'attr': {'class': 'form-control'}}) }}
            <small class="form-text text-muted">{{ form_help(newMetricForm.graph) }}</small>
            <small class="form-text text-muted">{{ form_errors(newMetricForm.graph) }}</small>
        </div>

        <button class="btn btn--secondary btn--right">Uložit</button>
        {{ form_end(newMetricForm) }}
    </div>
{% endblock %}
