@color-secondary: #fff;
@color-secondary-text: #000000;
@color-secondary-hover: lighten(@color-secondary, 30%);
@color-secondary-focus: darken(@color-secondary, 10%);
@color-secondary-disable: lighten(desaturate(@color-secondary, 100%), 30%);

@color-primary: #000;
@color-primary-text: #ffffff;
@color-primary-hover: lighten(@color-primary, 50%);
@color-primary-focus: darken(@color-primary, 50%);
@color-primary-disable: lighten(desaturate(@color-primary, 100%), 30%);