@import "colors";
@import "../mixins";
@import "../utility";

.main-header {
  background: @color-primary;
  color: @color-primary-text;
}

.navigation {
  &__item {
    a {
      background: @color-primary;
      color: @color-primary-text;
      border-bottom: 2px solid @color-primary-hover;

      .transition(all 0.3s ease);

      &:hover {
        text-decoration: none;
        background: @color-primary-hover;
      }
    }

    &--border-bottom a {
      border-bottom: 5px solid @color-primary-hover;
    }
  }
}

.btn {
  &--primary {
    background: @color-primary;
    color: @color-primary-text;

    &:hover {
      background: @color-primary-hover;
      color: @color-primary-text;
    }
  }

}

.alert {
  ul {
    padding-left: 0;
    margin-left: 0;
    li {
      list-style: none;
    }
  }
}