.height-400 {
  height: 400px;
}
.height-500 {
  height: 500px;
}
.height-600 {
  height: 600px;
}
.main-header {
  background: #000;
  color: #ffffff;
}
.navigation__item a {
  background: #000;
  color: #ffffff;
  border-bottom: 2px solid #808080;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.navigation__item a:hover {
  text-decoration: none;
  background: #808080;
}
.navigation__item--border-bottom a {
  border-bottom: 5px solid #808080;
}
.btn--primary {
  background: #000;
  color: #ffffff;
}
.btn--primary:hover {
  background: #808080;
  color: #ffffff;
}
.alert ul {
  padding-left: 0;
  margin-left: 0;
}
.alert ul li {
  list-style: none;
}
/*# sourceMappingURL=main.css.map */