{% extends 'base.html.twig' %}

{% block title %}Import layoutu{% endblock %}
{% block header %}Import layoutu{% endblock %}

{% block body %}

    {{ form_start(form) }}
    {{ form_label(form.xml) }}
    {{ form_widget(form.xml) }}
    {{ form_widget(form.save) }}
    {{ form_end(form) }}

{% endblock %}
