{% extends 'base.html.twig' %}

{% block title %}Import CSV{% endblock %}
{% block header %}Import CSV{% endblock %}

{% block body %}

    {% if isDataSaved %}
        <ul>
            <li>Vytvořeno dat: {{ createdData }}</li>
            <li>Vytvořeno sběrů: {{ createdDataCollections }}</li>
        </ul>


        <a href="{{ path('csv_import') }}" class="btn btn--secondary">Nový import</a>
    {% else %}
        {{ form_start(importForm) }}
            {% if not importForm.vars.valid %}
                <div class="row">
                    <div class="alert alert-danger" role="alert">
                        {{ form_errors(importForm.csv) }}
                    </div>
                </div>
            {% endif %}
            <div class="row">
                <label class="file">
                    {{ form_widget(importForm.csv, {'attr': {'class': 'form-control file-upload'}}) }}
                    <span class="file-custom"></span>
                </label>
                <button class="btn btn--secondary btn--no-margin btn--vertical-margin">Nahrát</button>
            </div>
        {{ form_end(importForm) }}
    {% endif %}
{% endblock %}
