{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}
{% block header %}Dashboard{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-8">
            {% if availableMetrics is not empty %}
                {{ form_start(layoutForm) }}
                {{ form_label(layoutForm.metric) }}
                {{ form_widget(layoutForm.metric) }}
                {{ form_widget(layoutForm.save) }}
                {{ form_end(layoutForm) }}
            {% endif %}
        </div>
        <div class="col-sm-4">
            <a href="{{ path('export_layout') }}" class="btn btn--primary float-right">Exportovat layout</a>
            <a href="{{ path('import_layout') }}" class="btn btn--primary float-right">Importovat layout</a>
        </div>
    </div>
    <div class="grid js-layout-metrics">
        {% for layout in layouts %}
            <div class="item" data-id="{{ loop.index }}" data-layout-id="{{ layout.id }}">
                <div class="item-content">
                    <div class="item-content__remove js-layout-remove" data-id="{{ layout.id }}">
                        <i class="fa fa-times-circle"></i>
                    </div>
                    <a href="{{ path('metric_detail', {metricId: layout.metric.id}) }}" class="thumbnail">
                        <div class="square">
                            {{ layout.metric.name }}
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>

    <script src="{{ asset('scripts/muuri/web-animations.min.js') }}"></script>
    <script src="{{ asset('scripts/muuri/muuri.min.js') }}"></script>
    <script>
        initGrid();

        function initGrid() {
            var grid = new Muuri('.grid', {
                dragEnabled: true,
                layoutOnInit: false
            }).on('move', function () {
                saveLayout(grid);
            });
            grid.layout(true);
        }

        function serializeLayout(grid) {
            var itemIds = grid.getItems().map(function (item) {
                return item.getElement().getAttribute('data-id');
            });
            return JSON.stringify(itemIds);
        }

        function saveLayout(grid) {
            var currentItems = grid.getItems();

            var layouts = [];
            var position = 1;
            currentItems.forEach((element) => {
                let $element = $(element._element);
                layouts.push({layoutId: $element.data('layout-id'), position: position++});
            });

            let url = "/layout/ajax/update-positions";
            if (window.location.hostname === "vsrvfeia0h-93.vsb.cz") {
                url = "/sta-cia" + url;
            }
            $.ajax({
                url: url,
                type: 'POST',
                data: {
                    layouts: layouts
                },
                success: function (data) {

                },
                error: function () {
                    console.error("Pozice nelze upravit.");
                }
            });
        }
    </script>

{% endblock %}


{#
<h1>Mini metriky</h1>

<link href="{{ asset('css/multi-chart.css') }}" rel="stylesheet"/>

<script src="//www.amcharts.com/lib/3/amcharts.js"></script>
<script src="//www.amcharts.com/lib/3/serial.js"></script>
<script src="//www.amcharts.com/lib/3/pie.js"></script>
<script src="//www.amcharts.com/lib/3/xy.js"></script>
<script src="//www.amcharts.com/lib/3/themes/light.js"></script>

{% for i in 1..12 %}
    <div id="chart{{ loop.index }}" class="chart"></div>
{% endfor %}

<script>
    /**
     * Initialize a chart update queue
     */
    AmCharts.updateQueue = [];

    /**
     * Queues data update for the chart
     */
    AmCharts.queueDataUpdate = function(chart, data) {

        // chart is already in queue?
        for (var i = 0; i < AmCharts.updateQueue; i++) {
            if (AmCharts.updateQueue[i].chart = chart) {
                AmCharts.updateQueue[i].data = data
                return;
            }
        }

        // insert into queue
        AmCharts.updateQueue.push({
            "chart": chart,
            "data": data
        });

        // process next item
        AmCharts.processUpdateQueue();
    };

    /**
     * Updates the next chart in queue
     */
    AmCharts.processUpdateQueue = function() {
        if (AmCharts.updateQueue.length) {
            var item = AmCharts.updateQueue.shift();
            item.chart.dataProvider = item.data;
            item.chart.validateData();
        }
    };

    /**
     * Add handlers dataUpdated handlers for each chart
     */
    AmCharts.addInitHandler(function(chart) {

        chart.addListener("dataUpdated", function() {
            // process the next update in queue
            AmCharts.processUpdateQueue();
        })

    }, ["serial", "pie", "xy"]);

    /**
     * Set up interval to update charts at 2 second intervals
     */
    setInterval(function() {

        for(var i = 0; i < AmCharts.charts.length; i++) {
            AmCharts.queueDataUpdate(AmCharts.charts[i], generateData());
        }

    }, 2000);

    /**
     * Generates random sample data
     */
    function generateData() {
        var data = [];
        for (var i = 1; i <= 5; i++) {
            data.push({
                "country": i,
                "visits": Math.ceil(Math.random() * 2000 + 500)
            });
        }
        return data;
    }

    /**
     * Chart 1
     */
    AmCharts.makeChart("chart1", {
        "type": "serial",
        "theme": "light",
        "dataProvider": generateData(),
        "titles": [{
            "text": "Chart #1"
        }],
        "startDuration": 1.5,
        "graphs": [{
            "fillAlphas": 0.9,
            "lineAlpha": 0.2,
            "type": "column",
            "valueField": "visits"
        }],
        "categoryField": "country",
        "valueAxes": [{
            "labelsEnabled": false
        }],
        "categoryAxis": {
            "minHorizontalGap": 5
        }
    });

    /**
     * Chart 2
     */
    AmCharts.makeChart("chart2", {
        "type": "serial",
        "theme": "light",
        "dataProvider": generateData(),
        "titles": [{
            "text": "Chart #2"
        }],
        "startDuration": 1.5,
        "graphs": [{
            "fillAlphas": 0.9,
            "lineAlpha": 0.2,
            "type": "column",
            "valueField": "visits"
        }],
        "categoryField": "country",
        "valueAxes": [{
            "labelsEnabled": false
        }],
        "categoryAxis": {
            "minHorizontalGap": 5
        }
    });

    /**
     * Chart 3
     */
    AmCharts.makeChart("chart3", {
        "type": "serial",
        "theme": "light",
        "dataProvider": generateData(),
        "titles": [{
            "text": "Chart #3"
        }],
        "startDuration": 1.5,
        "graphs": [{
            "fillAlphas": 0.9,
            "lineAlpha": 0.2,
            "type": "column",
            "valueField": "visits"
        }],
        "categoryField": "country",
        "valueAxes": [{
            "labelsEnabled": false
        }],
        "categoryAxis": {
            "minHorizontalGap": 5
        }
    });

    /**
     * Chart 4
     */
    AmCharts.makeChart("chart4", {
        "type": "serial",
        "theme": "light",
        "dataProvider": generateData(),
        "titles": [{
            "text": "Chart #4"
        }],
        "startDuration": 1.5,
        "graphs": [{
            "fillAlphas": 0.9,
            "lineAlpha": 0.2,
            "type": "column",
            "valueField": "visits"
        }],
        "categoryField": "country",
        "valueAxes": [{
            "labelsEnabled": false
        }],
        "categoryAxis": {
            "minHorizontalGap": 5
        }
    });

    /**
     * Chart 5
     */
    AmCharts.makeChart("chart5", {
        "type": "pie",
        "theme": "light",
        "dataProvider": generateData(),
        "titles": [{
            "text": "Chart #5"
        }],
        "valueField": "visits",
        "titleField": "country",
        "pullOutRadius": 0,
        "labelRadius": -22,
        "labelText": "[[percents]]%",
        "percentPrecision": 1
    });

    /**
     * Chart 6
     */
    AmCharts.makeChart("chart6", {
        "type": "pie",
        "theme": "light",
        "dataProvider": generateData(),
        "titles": [{
            "text": "Chart #6"
        }],
        "valueField": "visits",
        "titleField": "country",
        "pullOutRadius": 0,
        "labelRadius": -22,
        "labelText": "[[percents]]%",
        "percentPrecision": 1
    });

    /**
     * Chart 7
     */
    AmCharts.makeChart("chart7", {
        "type": "pie",
        "theme": "light",
        "dataProvider": generateData(),
        "titles": [{
            "text": "Chart #7"
        }],
        "valueField": "visits",
        "titleField": "country",
        "pullOutRadius": 0,
        "labelRadius": -22,
        "labelText": "[[percents]]%",
        "percentPrecision": 1
    });

    /**
     * Chart 8
     */
    AmCharts.makeChart("chart8", {
        "type": "pie",
        "theme": "light",
        "dataProvider": generateData(),
        "titles": [{
            "text": "Chart #8"
        }],
        "valueField": "visits",
        "titleField": "country",
        "pullOutRadius": 0,
        "labelRadius": -22,
        "labelText": "[[percents]]%",
        "percentPrecision": 1
    });

    /**
     * Chart 9
     */
    AmCharts.makeChart("chart9", {
        "type": "xy",
        "theme": "light",
        "dataProvider": generateData(),
        "titles": [{
            "text": "Chart #9"
        }],
        "valueAxes": [{
            "position": "bottom"
        }, {
            "minMaxMultiplier": 1.2,
            "position": "left",
            "labelsEnabled": false
        }],
        "startDuration": 1.5,
        "graphs": [{
            "bullet": "circle",
            "bulletBorderAlpha": 0.2,
            "bulletAlpha": 0.8,
            "lineAlpha": 0,
            "fillAlphas": 0,
            "xField": "country",
            "yField": "visits",
            "maxBulletSize": 100
        }]
    });

    /**
     * Chart 10
     */
    AmCharts.makeChart("chart10", {
        "type": "xy",
        "theme": "light",
        "dataProvider": generateData(),
        "titles": [{
            "text": "Chart #10"
        }],
        "valueAxes": [{
            "position": "bottom"
        }, {
            "minMaxMultiplier": 1.2,
            "position": "left",
            "labelsEnabled": false
        }],
        "startDuration": 1.5,
        "graphs": [{
            "bullet": "circle",
            "bulletBorderAlpha": 0.2,
            "bulletAlpha": 0.8,
            "lineAlpha": 0,
            "fillAlphas": 0,
            "xField": "country",
            "yField": "visits",
            "maxBulletSize": 100
        }]
    });

    /**
     * Chart 11
     */
    AmCharts.makeChart("chart11", {
        "type": "xy",
        "theme": "light",
        "dataProvider": generateData(),
        "titles": [{
            "text": "Chart #11"
        }],
        "valueAxes": [{
            "position": "bottom"
        }, {
            "minMaxMultiplier": 1.2,
            "position": "left",
            "labelsEnabled": false
        }],
        "startDuration": 1.5,
        "graphs": [{
            "bullet": "circle",
            "bulletBorderAlpha": 0.2,
            "bulletAlpha": 0.8,
            "lineAlpha": 0,
            "fillAlphas": 0,
            "xField": "country",
            "yField": "visits",
            "maxBulletSize": 100
        }]
    });

    /**
     * Chart 12
     */
    AmCharts.makeChart("chart12", {
        "type": "xy",
        "theme": "light",
        "dataProvider": generateData(),
        "titles": [{
            "text": "Chart #12"
        }],
        "valueAxes": [{
            "position": "bottom"
        }, {
            "minMaxMultiplier": 1.2,
            "position": "left",
            "labelsEnabled": false
        }],
        "startDuration": 1.5,
        "graphs": [{
            "bullet": "circle",
            "bulletBorderAlpha": 0.2,
            "bulletAlpha": 0.8,
            "lineAlpha": 0,
            "fillAlphas": 0,
            "xField": "country",
            "yField": "visits",
            "maxBulletSize": 100
        }]
    });
</script>
#}