{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}



    <div class="container">
        <h1>Registrace</h1>
        {{ form_start(registrationForm) }}
        <div class="form-group">
            <label for="exampleInputEmail1">{{ form_label(registrationForm.email) }}</label>
            {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
            <small class="form-text text-muted">{{ form_help(registrationForm.email) }}</small>
            <small class="form-text text-muted">{{ form_errors(registrationForm.email) }}</small>
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">{{ form_label(registrationForm.name) }}</label>
            {{ form_widget(registrationForm.name, {'attr': {'class': 'form-control'}}) }}
            <small class="form-text text-muted">{{ form_help(registrationForm.name) }}</small>
            <small class="form-text text-muted">{{ form_errors(registrationForm.name) }}</small>
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">{{ form_label(registrationForm.surname) }}</label>
            {{ form_widget(registrationForm.surname, {'attr': {'class': 'form-control'}}) }}
            <small class="form-text text-muted">{{ form_help(registrationForm.surname) }}</small>
            <small class="form-text text-muted">{{ form_errors(registrationForm.surname) }}</small>
        </div>


        <div class="form-group">
            <label for="exampleInputEmail1">{{ form_label(registrationForm.plainPassword) }}</label>
            {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control'}}) }}
            <small class="form-text text-muted">{{ form_help(registrationForm.plainPassword) }}</small>
            <small class="form-text text-muted">{{ form_errors(registrationForm.plainPassword) }}</small>
        </div>

        <button class="btn btn-primary">Registrovat se</button>
        {{ form_end(registrationForm) }}

    </div>


{% endblock %}
