@import "colors";
@import "mixins";
@import "utility";

body {
  .font-family-sans-serif();
}


@media only screen and (min-width: 1200px) {
  .container-xl {
    max-width: 1500px;
  }
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}

.main-header {
  background: @color-primary;
  color: @color-primary-text;
  min-height: 120px;

  h1 {
    padding-top: 10px;
    font-weight: 300;
    .line-height(50);
    .font-family-serif();
  }
}

.main-content {
  background: #fff;
  margin-top: -50px;
  border: 10px solid #fff;

  -webkit-box-shadow: 0px -15px 49px -29px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -15px 49px -29px rgba(0, 0, 0, 0.75);
  box-shadow: 0px -15px 49px -29px rgba(0, 0, 0, 0.75);

  @media @lg {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}

.navigation {
  width: 100%;
  list-style: none;
  margin-top: 10px;
  padding: 0;

  &__item {
    a {
      display: block;

      line-height: 35px;
      width: 100%;
      padding-left: 15px;

      background: @color-primary;
      color: @color-primary-text;
      border-bottom: 2px solid @color-primary-hover;

      .transition(all 0.3s ease);

      &:hover {
        text-decoration: none;
        background: @color-primary-hover;
      }
    }

    &--border-bottom a {
      border-bottom: 5px solid @color-primary-hover;
    }
  }
}

.btn {
  text-align: center;
  display: inline-block;
  line-height: 40px;
  .font-size(17);
  margin: 10px;
  margin-left: 0;

  .transition(all 0.3s ease);

  &--primary {
    background: @color-primary;
    color: @color-primary-text;

    &:hover {
      background: @color-primary-hover;
      color: @color-primary-text;
      text-decoration: none;
    }
  }

  &--secondary {
    background: @color-secondary;
    color: @color-secondary-text;

    &:hover {
      background: @color-secondary-hover;
      color: @color-secondary-text;
      text-decoration: none;
    }
  }

  &--right {
    float: right;
    margin-right: 0;
  }

  &--left {
    float: left;
    margin-left: 0;
  }


  &--no-margin {
    margin: 0;
  }

  &--horizontal-margin {
    margin: 5px 0;
  }

  &--vertical-margin {
    margin: 0 5px;
  }
}

.file-upload {
  margin-top: 10px;
}

.offline-message {

}

.divider {
  display: block;

  &--20 {
    margin-top: 20px;
  }

  &--100 {
    margin-top: 100px;
  }

}

.environment-change {

  margin-top: 20px;

  a {
    color: #fff;

    &:hover {
      color: #fff;
    }
  }
}

.grid {
  position: relative;
  width: 100%;
}

.grid {
  position: relative;
}

.item {
  position: absolute;
  width: 32.4%;
  height: 400px;
  margin: 5px;
  z-index: 1;
  transition: 0.5s ease box-shadow;
}

.item-content {
  position: relative;
  width: 100%;
  height: 100%;
  background: #e2e3e5;

  cursor: pointer;
}

.item-content__remove {
  position: absolute;
  right: -8px;
  top: -13px;
  z-index: 99;
  font-size: 20px;
  color: #f00;
}

.item.muuri-item-hidden {
  z-index: 0;
}

.item.muuri-item-releasing {
  z-index: 2;
}

.item.muuri-item-dragging {
  z-index: 3;
  -webkit-box-shadow: 0px 0px 38px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 38px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 38px 2px rgba(0, 0, 0, 0.25);
}


.alert {
  ul {
    padding: 0;
    margin: 0;

    li {
      list-style: none;
    }
  }
}