.height-400 {
  height: 400px;
}
.height-500 {
  height: 500px;
}
.height-600 {
  height: 600px;
}
body {
  font-family: 'Open Sans', sans-serif;
}
@media only screen and (min-width: 1200px) {
  .container-xl {
    max-width: 1500px;
  }
}
.display-none {
  display: none;
}
.display-block {
  display: block;
}
.main-header {
  background: #0336ff;
  color: #ffffff;
  min-height: 120px;
}
.main-header h1 {
  padding-top: 10px;
  font-weight: 300;
  line-height: 50px;
  line-height: 3.125rem;
  font-family: 'Gelasio', serif;
}
.main-content {
  background: #fff;
  margin-top: -50px;
  border: 10px solid #fff;
  -webkit-box-shadow: 0px -15px 49px -29px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -15px 49px -29px rgba(0, 0, 0, 0.75);
  box-shadow: 0px -15px 49px -29px rgba(0, 0, 0, 0.75);
}
@media (max-width: 991px) {
  .main-content {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}
.navigation {
  width: 100%;
  list-style: none;
  margin-top: 10px;
  padding: 0;
}
.navigation__item a {
  display: block;
  line-height: 35px;
  width: 100%;
  padding-left: 15px;
  background: #0336ff;
  color: #ffffff;
  border-bottom: 2px solid #365fff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.navigation__item a:hover {
  text-decoration: none;
  background: #365fff;
}
.navigation__item--border-bottom a {
  border-bottom: 5px solid #365fff;
}
.btn {
  text-align: center;
  display: inline-block;
  line-height: 40px;
  font-size: 17px;
  font-size: 1.0625rem;
  margin: 10px;
  margin-left: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn--primary {
  background: #0336ff;
  color: #ffffff;
}
.btn--primary:hover {
  background: #365fff;
  color: #ffffff;
  text-decoration: none;
}
.btn--secondary {
  background: #ffde03;
  color: #000000;
}
.btn--secondary:hover {
  background: #fff29c;
  color: #000000;
  text-decoration: none;
}
.btn--right {
  float: right;
  margin-right: 0;
}
.btn--left {
  float: left;
  margin-left: 0;
}
.btn--no-margin {
  margin: 0;
}
.btn--horizontal-margin {
  margin: 5px 0;
}
.btn--vertical-margin {
  margin: 0 5px;
}
.file-upload {
  margin-top: 10px;
}
.divider {
  display: block;
}
.divider--20 {
  margin-top: 20px;
}
.divider--100 {
  margin-top: 100px;
}
.environment-change {
  margin-top: 20px;
}
.environment-change a {
  color: #fff;
}
.environment-change a:hover {
  color: #fff;
}
.grid {
  position: relative;
  width: 100%;
}
.grid {
  position: relative;
}
.item {
  position: absolute;
  width: 32.4%;
  height: 400px;
  margin: 5px;
  z-index: 1;
  transition: 0.5s ease box-shadow;
}
.item-content {
  position: relative;
  width: 100%;
  height: 100%;
  background: #e2e3e5;
  cursor: pointer;
}
.item-content__remove {
  position: absolute;
  right: -8px;
  top: -13px;
  z-index: 99;
  font-size: 20px;
  color: #f00;
}
.item.muuri-item-hidden {
  z-index: 0;
}
.item.muuri-item-releasing {
  z-index: 2;
}
.item.muuri-item-dragging {
  z-index: 3;
  -webkit-box-shadow: 0px 0px 38px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 38px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 38px 2px rgba(0, 0, 0, 0.25);
}
.alert ul {
  padding: 0;
  margin: 0;
}
.alert ul li {
  list-style: none;
}
/*# sourceMappingURL=main.css.map */