@wide-screen-down: ~'(max-width: 1199px)';
@desktop-down: ~'(max-width: 991px)';
@tablet-down: ~'(max-width: 767px)';
@phone-down: ~'(max-width: 480px)';
@small-phone-down: ~'(max-width: 320px)';

@xs: ~'(max-width: 384px)';
@sm: ~'(max-width: 575px)';
@md: ~'(max-width: 768px)';
@lg: ~'(max-width: 991px)';
@xl: ~'(max-width: 1200px)';

@baseLineHeight: 32;
@baseFontSize: 16;

@baseSpace: 40;

.font-family-sans-serif() {
  font-family: 'Open Sans', sans-serif;
}

.font-family-serif() {
  font-family: 'Gelasio', serif;
}

.font-size(@font-size: @baseFontSize) {
  @rem: (@font-size / @baseFontSize);
  font-size: @font-size * 1px;
  font-size: ~"@{rem}rem";
}

.line-height(@lineHeight: @baseLineHeight) {
  @rem: (@lineHeight / @baseFontSize);
  line-height: @lineHeight * 1px;
  line-height: ~"@{rem}rem";
}

.transition(...) {
  -webkit-transition: @arguments;
  -moz-transition: @arguments;
  -o-transition: @arguments;
  transition: @arguments;
}
