<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#0336ff"/>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('libs/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/main.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Gelasio|Open+Sans:300,400,600,700,800&display=swap&subset=latin-ext"
          rel="stylesheet">
    <link rel="manifest" href="{{ asset('manifest.json') }}">
    <link rel="apple-touch-icon" href="{{ asset('img/icons/icon-512x512.png') }}">
    <script src="https://kit.fontawesome.com/3ad5bf3e8b.js" crossorigin="anonymous"></script>
    {% block stylesheets %}
    {% endblock %}

    {% block head_scripts %}
    {% endblock %}
</head>
<body>

<div class="main-header main-header--big">
    <div class="container-xl">
        <div class="row">
            <div class="col-md-8">
                <h1>{% block header %}{% endblock %}</h1>
            </div>
            <div class="col-md-4">
                <div class="js-offlineMessage display-none alert alert-danger"></div>
            </div>
        </div>
    </div>
</div>

<div class="container-xl">
    <div class="main-content">
        <div class="row">
            {% block navigation %}
                <div class="col-2">
                    <div class="nav__new-metric">
                        <a href="{{ path('new_metric') }}" class="btn btn--secondary btn--no-margin">Nová metrika</a>
                        <a href="{{ path('csv_import') }}" class="btn btn--secondary btn--horizontal-margin">Import</a>
                    </div>
                    {{ render(controller('App\\Controller\\\Front\\NavigationController::navigation')) }}
                </div>
            {% endblock %}
            <div class="col-10 main-body js-main-body">
                <div class="js-main-body-block">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="{{ asset('libs/bootstrap/js/bootstrap.min.js') }}" async></script>
<script src="{{ asset('scripts/pwa/app.js') }}" async></script>
<script src="{{ asset('scripts/main.js') }}"></script>
<script src="{{ asset('scripts/layout.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
