{% extends 'Admin/adminBase.html.twig' %}

{% block title %}Dashboard{% endblock %}
{% block header %}Dashboard{% endblock %}

{% block body %}
    <style>
        .frontpage_square {
            position: relative;
            overflow: hidden;
            padding-bottom: 100%;
            background: #eae;
            margin-bottom: 10px;
        }

    </style>

    <div class="row">
        <div class="col-8">
            Dostupné metriky
            <select name="metrics">
                <option>1</option>
                <option>2</option>
            </select>
        </div>
        <div class="col-sm-4">
            <a href="#" class="btn btn--primary float-right">Exportovat layout</a>
            <a href="#" class="btn btn--primary float-right">Importovat layout</a>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-4">
            <a href="#" class="thumbnail">
                <div class="frontpage_square">

                </div>
            </a>
        </div>
        <div class="col-sm-4">
            <a href="#" class="thumbnail">
                <div class="frontpage_square">

                </div>
            </a>
        </div>
        <div class="col-sm-4">
            <a href="#" class="thumbnail">
                <div class="frontpage_square">

                </div>
            </a>
        </div>

        <div class="col-sm-4">
            <a href="#" class="thumbnail">
                <div class="frontpage_square">
                </div>
            </a>
        </div>
        <div class="col-sm-4">
            <a href="#" class="thumbnail">
                <div class="frontpage_square">
                </div>
            </a>
        </div>
        <div class="col-sm-4">
            <a href="#" class="thumbnail">
                <div class="frontpage_square">
                </div>
            </a>
        </div>

        <div class="col-sm-4">
            <a href="#" class="thumbnail">
                <div class="frontpage_square">
                    <img src="" class="img img-responsive full-width"/>
                </div>
            </a>
        </div>

    </div>
{% endblock %}
