<ul class="navigation">
    <li class="navigation__item navigation__item--border-bottom"><a href="{{ path('dashboard') }}">Dashboard</a></li>
    {% for metric in metrics %}
        <li class="navigation__item"><a href="{{ path('metric_detail', {metricId: metric.id}) }}">{{ metric.name }}</a></li>
    {% endfor %}
</ul>